

nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 0 1.5em;
  max-height: 120px;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) { nav
  {
    background-color: orange;
    background-image: url(/images/beige-paper.png);
   }
 }

.tweeter {
  margin-top: 44px;
  font-family: 'Bungee', cursive;
  font-size: 42px;
}

.navAside {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 25px;
}
.navAside p {
    margin: 0;
}

.navAside span {
  text-align: center;
  color: red;
}
